@import "tailwindcss";

:root {
  --color-bg: #0d0d0d;
  --color-surface: #1a1a1a;
  --color-accent: #ff2c2c;
  --color-soft: #2e2e2e;
  --color-glowing: #ff3c3c;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "JetBrains Mono", monospace;
}

input,
textarea,
button {
  font-family: inherit;
  color: inherit;
}
